.arrowback {
    min-width: 40px;
    min-height: 40px;
    display: flex;
}

.container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
 }

 .containerbox {
    flex-grow: 0;
    text-align: end;
    display: inline-flex;

 }

 .containerbox span {
    min-height: 40px;
 }

 .boxincolumn {
   flex-direction: column;
   position: relative;
   margin-left: 10px;
 }

 .rowelement {
   margin: 5px;
 }

 .biocontainer {
   margin-left: 10px;
 }

 .bio {
   position: relative;
 }

 .spacing {
   margin: 10px 0px 10px 0px;
 }

 .medalcontainer {
   margin-left: 10px;
 }

 .game-medal__container {
   margin-left: 10px 0px 0px 10px;
   display: flex;
   flex-direction: row;
 }

 .city {
   width: 200px;
  flex: 0 1 auto;
 }

 .medal {
   margin-right: 20px;
   flex: 0 1 auto;
 }